/* .App::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./assets/img/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 381px;
  height: 377px;
  top: 50%;
  z-index: 0;
} */

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  border-radius: 20px !important;
}